@media (max-width: 846px){
    .section-footer{
        background-color: $Principal-negro;
        padding: 20px;
        div{
            display: flex;
            p{
                color: white;
            }
        }
        
    }
}