@media (max-width: 846px){
    .section-footer{
        background-color: $Principal-negro;
        padding: 20px;
        div{
            display: flex;
            align-items: center;
            p{
                color: white;
                margin: 0;
            }
            .footer-flecha {
               padding-left: 5px;
                svg {
                  font-size: 1.5rem;
                  color: $Principal-dorado;
                }
              }
        }
        
    }
}