@media (max-width: 846px) {
  .section-hero {
    background-image: url("./assets/imagenes/FONDO.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;

    .hero-cabecera {
      color: white;
      text-align: center;
    }

    .hero-titulo-container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      .una {
        display: flex;
        position: absolute;
        top: 0%;
        p {
          color: red;
          font-size: 2rem;
        }
      }

      .dos {
        width: 70vw;
        img {
          width: 100%;
        }
      }

      .tres {
        width: 50vw;
        position: absolute;
        left: 20%;
        margin-top: 20px;
        img {
          width: 100%;
        }
      }
    }
  }
  .titulo-imagen {
    width: 100%;
    text-align: center;
    padding: 50px 0;
    img {
      width: 50%;
    }
  }
}
