@media (max-width: 846px) {
  .section-hero {
    background-image: url("./assets/imagenes/FONDO.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;

    .hero-cabecera {
      color: white;
      text-align: center;
    }

    .hero-titulo-container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      .hero-titulo-fecha {
        display: flex;
        position: absolute;
        top: 0%;
        p {
          color: $Principal-dorado;
          font-size: 2rem;
        }
      }

      .hero-titulo-imagen {
        width: 70vw;
        img {
          width: 100%;
        }
      }

      .hero-titulo-subtitulo {
        width: 50vw;
        position: absolute;
        left: 20%;
        margin-top: 20px;
        img {
          width: 100%;
        }
      }
    }
  }
  .titulo-imagen-letras {
    width: 100%;
    text-align: center;
    padding: 60px 0;
    img {
      width: 50%;
    }
  }

  .titulo-imagen-onda {
    width: 100%;
    text-align: center;
    padding-top: 80px;
    img {
      width: 25%;
    }
  }
  .boton-container {
    padding: 20px 0;
    button {
      padding: 10px 30px;
      border: none;
      background-color: $Principal-dorado;
      text-transform: uppercase;
      font-weight: 100;
      color: white;
      font-size: 0.8rem;
      text-transform: uppercase;
      letter-spacing: 3px;
      animation: ZoomIn 1s infinite;
      a {
        text-decoration: none;
        color: white;
      }

      /*  @keyframes ZoomIn {
      0% {
        opacity: 1;
        transform: scale(0.95);
      }
      50% {
        opacity: 1;
        transform: scale(1);
      }
      100% {
        opacity: 1;
        transform: scale(0.95);
      }
    } */
    }
  }

  .seccion-titulo {
    text-align: center;

    h1 {
      line-height: 0.9;
      width: 75%;
      margin: auto;
      font-size: 1.2rem;
      font-weight: 100;
    }
  }

  
}
