@media (max-width: 846px) {
  .section-playlist {
    background-color: $Secundario-rosa;
    text-align: center;
    padding: 0 0 20px;
    .titulo-imagen-letras {
      padding: 30px 0 20px;
    }
    /* .informacion-boton-container {
      .seccion-titulo {
        text-align: center;

        h1 {
          line-height: 0.9;
          width: 75%;
          margin: auto;
          font-size: 1.2rem;
          font-weight: 100;
        }
      }
    } */
  }
}
