@font-face {
    font-family: "Selofier-Italic";
    src: url("./assets/tipografias/Selofier-Italic.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Selofier";
    src: url("./assets/tipografias/Selofier.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "NEUEHAAS";
    src: url("./assets/tipografias/NeueHaasDisplayLight.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }