@font-face {
    font-family: "Selofier-Italic";
    src: url("./assets/tipografias/Selofier-Italic.OTF") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Selofier";
    src: url("./assets/tipografias/Selofier.OTF") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "NEUEHAAS";
    src: url("./assets/tipografias/NEUEHAASDISPLAYLIGHT.TTF") format("truetype");
    font-weight: normal;
    font-style: normal;
  }